div(id="rsv-module",class="btn-group btn-wrapper",role="group",aria-label="...")
	div(class="btn-group group1",role="group")
		ul.dropdown-menu.list-unstyled
			li.close-button
				span.glyphicon.glyphicon-remove(aria-hidden="true")
			li.pull-left
				p.header.r-border AREA
				ul.list-unstyled
					li.pull-left
						.block.r-border
							ul.list-unstyled.dropdown-links
								li Tokyo
									span.glyphicon.glyphicon-menu-right(aria-hidden="true")
								li Chiba
									span.glyphicon.glyphicon-menu-right(aria-hidden="true")
								li Kanagawa
									span.glyphicon.glyphicon-menu-right(aria-hidden="true")
								li Utsunomiya
									span.glyphicon.glyphicon-menu-right(aria-hidden="true")
								li Kanazawa
									span.glyphicon.glyphicon-menu-right(aria-hidden="true")
								li Aichi
									span.glyphicon.glyphicon-menu-right(aria-hidden="true")
								li Osaka
									span.glyphicon.glyphicon-menu-right(aria-hidden="true")
								li Kyoto
									span.glyphicon.glyphicon-menu-right(aria-hidden="true")
								li Fukuoka
									span.glyphicon.glyphicon-menu-right(aria-hidden="true")
			li.pull-left
				p.header HOTELS
				ul.list-unstyled
					li
						.pull-left.block.r-border
							p.brand.brand-ms HOTEL MYSTAYS
							ul.list-unstyled.dropdown-links
								li Asakusa
								li Asakusa-bashi
								li Gotanda
								li Gtanda Station
								li Hamamatucho
								li Haneda
								li Higashi-Ikebukuro
								li Kamata
								li Kameido
						.pull-left.block.r-border
							ul.list-unstyled.dropdown-links
								li Kanda
								li Nihonbashi
								li Nippori
								li Ochanomizu
								li Ueno-Inaricho
								li Ueno-Iriyaguchi
								li Nishi-Shinjuku
						.pull-left.block
							p.brand.brand-fl FLEXSTAY INN
							ul.list-unstyled.dropdown-links
								li Ekoda
								li Iidabashi
								li Kiyosumi-Shirakawa
								li Machida
								li Nakanobu
								li Shinagawa
								li Shirogane
								li Sugamo
								li Tokiwadai
		button(type="button",class="btn btn-default dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
			span.pull-left Select City Property... 
			span.pull-right.caret.glyphicon.glyphicon-menu-down
		
	div(class="btn-group group2",role="group")
		ul.dropdown-menu
			li
				a(href="#") Dropdown link 2-1
			li
				a(href="#") Dropdown link 2-2
		button(type="button",class="btn btn-default dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
			span.pull-left Check In 
			span.pull-right.caret.glyphicon.glyphicon-menu-down
		
	div(class="btn-group group3",role="group")
		ul.dropdown-menu
			li
				a(href="#") Dropdown link 3-1
			li
				a(href="#") Dropdown link 3-2
		button(type="button",class="btn btn-default dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
			span.pull-left Check Out 
			span.pull-right.caret.glyphicon.glyphicon-menu-down
		
	div(class="btn-group group4",role="group")
		ul.dropdown-menu
			li
				a(href="#") Dropdown link 4-1
			li
				a(href="#") Dropdown link 4-2
		button(type="button",class="btn btn-default dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
			span.pull-left 1 Adult 
			span.pull-right.caret.glyphicon.glyphicon-menu-down
		
	button(type="button",class="btn btn-black group5") Check Rates