#rsv-module-s
	img.img-responsive(src="../images/foo/rsv_module_s.png")
//
	p.header Stay Here
	.col.col-lg-12.col-md-12.col-lg-sm.col-xs-12
		div.select1(class="btn-group",role="group",aria-label="...")
			div(class="btn-group group1",role="group")
				ul.dropdown-menu
					li
						a(href="#") 日本語
					li
						a(href="#") English
				button(type="button",class="btn dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Langage
					span.caret.glyphicon.glyphicon-menu-down
	
		div.select2(class="btn-group",role="group",aria-label="...")
			div(class="btn-group group1",role="group")
				ul.dropdown-menu
					li
						a(href="#") 日本語
					li
						a(href="#") English	
				button(type="button",class="btn dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Langage
					span.caret.glyphicon.glyphicon-menu-down
	.col.col-lg-12.col-md-12.col-lg-sm.col-xs-12
		div.select3(class="btn-group",role="group",aria-label="...")
			div(class="btn-group group1",role="group")
				ul.dropdown-menu
					li
						a(href="#") 日本語
					li
						a(href="#") English	
				button(type="button",class="btn dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Langage
					span.caret.glyphicon.glyphicon-menu-down

	button.rsv-button Book Now
	//- img(src="../images/foo/rsv_module_s.png")