.col.col-lg-12.col-md-12.col.sm-12.col-xs-12
	.row.section-header
		.col.col-lg-6.col-md-6.col.sm-6.col-xs-12
			.row
				.col.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2.header-title
						block headertitle
							
		.col.col-lg-6.col-md-6.col-sm-6.col-xs-12
			a.header-link
				block headerlink1
				span.glyphicon.glyphicon-menu-right(aria-hidden="true")