.row.rowSeparator55
.row.rowSeparator17
	.col-lg-12.col-md-12.col-sm-12.col-xs-12
		h1#destinationHeaderTitle.centerTitle Destinations
.row
	.col-lg-12.col-md-12.col-sm-12.col-xs-12
		p#destinationHeaderContent.centerTitleContent These are the popular destinations near our hotels (TEXT NEEDS TO BE CHANGED)
.row.rowSeparator55
