//- HTML HEADER
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	title= title || 'MyStaysCMS DEV'
	link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
	//- font
	<script src="https://use.typekit.net/etm5edu.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<script src="https://use.typekit.net/ezg2qge.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	//sans pro font
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,200italic,200,600,600italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	//- Customise the stylesheet for your site by editing /public/styles/site.less
	//- All .less files will be automatically compiled and minified in production.
	link(href="/styles/site.min.css", rel="stylesheet")
	//link(href="/styles/siteBackup.min.css", rel="stylesheet")
	//- <!-- Common Kendo UI CSS for web and dataviz widgets -->	
	//link(href="http://kendo.cdn.telerik.com/2014.2.716/styles/kendo.common.min.css" rel="stylesheet")
	link(href="/styles/kendoui/kendo.common.min.css" rel="stylesheet")
	link(href="/styles/kendoui/kendo.rtl.css" rel="stylesheet" type="text/css")
	//link(href="/styles/kendoui/kendo.common-bootstrap.core.less" rel="stylesheet/less" type="text/css")
	link(href="/styles/kendoui/kendo.default.css" rel="stylesheet")
	//link(href="/styles/kendoui/kendo.bootstrap.css" rel="stylesheet") 
	//link(href="/styles/kendoui/kendo.dataviz.min.css" rel="stylesheet") 	
	link(href="/styles/kendoui/kendo.silver.css" rel="stylesheet")
	//Highslide css
	link(rel="stylesheet" type="text/css" href="/styles/highslide/highslide.css")
	link(rel="stylesheet" href="/styles/twentytwenty.css" type="text/css" media="screen")
	link(rel="stylesheet" href="/styles/jquery.mCustomScrollbar.min.css")
	link(href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet")
	//- link(href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css")
	//- This file provides the default styling for the KeystoneJS Content Editor
	if user && user.canAccessKeystone
		link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
	//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	//- Safely remove this block if you are not targeting IE8
	//-[if lt IE 9]
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
	//-[endif]
	//- Include template-specific stylesheets by extending the css block
	block css
	//- Add any other template-specific HEAD tags by extending the head block
	block head