//- JAVASCRIPT
//- jQuery 1.11.1 is included by default, and required by both Bootstrap
//- and the KeystoneJS Content Editor. If you are not targeting IE8,
//- you can upgrade to 2.1.3 (also bundled) for better performance.
script(src='/js/jquery/jquery-1.11.2.min.js')
//- Customise which Bootstrap javascript files are served by including
//- them specifically here, instead of bootstrap-3.3.4.min.js
script(src='/js/bootstrap/bootstrap-3.3.4.min.js')
//- Add scripts that are globally required by your site here.
script(src='/js/kendoui/kendo.ui.core.js')
//Add cloudinary jquery
script(src='/js/cloudinary/jquery.cloudinary.js')		
//add highslide
script(src='/js/highslide/highslide-with-gallery.js')
script(src='/js/pi/customSticky.js')
script(src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js")
script(src="/js/jquery.mCustomScrollbar.js")
script.
	(function($){
	    $(window).load(function(){
	        $(".scroll").mCustomScrollbar();
	    });
	})(jQuery);
script(src='/js/custome.js')
//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
//- which generate links to edit content for users who can access Keystone
if user && user.canAccessKeystone
	script(src='/keystone/js/content/editor.js')
//- Add scripts that are globally required by your site here.
//- Include template-specific javascript files by extending the js block